#############
## Python
#############
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
*.egg
pip-wheel-metadata/

# Virtual environments
.env
.venv/
venv/
ENV/
env/
env.bak/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.pytest_cache/

# Type check / caches
.mypy_cache/
.pyre/
.ruff_cache/

# Translations
*.mo

# Editors and IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Backup and temp files
*~
*.bak
*.back
*.swp
\#*#

# Archives and outputs
*.zip
*.epub
FanFicFare.zip
FanFictionDownLoader.zip
output/

# Project metadata
FanFicFare.egg-info/

# Personal / secrets
personal.ini
appcfg_oauth2_tokens

# Misc local configurations
MyConfigs/
cleanup.sh